.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  min-width: 100vw;
  font-family: roboto;
}
.not-found {
  height: 300px;
  width: 200px;
}
